<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<head>
		<div th:replace="fragments/fragments :: head">
		</div>
	</head>
</head>

<body>
	<header>
		<div th:replace="fragments/fragments :: header">
		</div>
	</header>
	
	<main>
		<section>
			<div class="container mt-2">
				<div class="row">
					<div class=" col-lg-12 mt-1">
						<div class="col-12 mb-2	d-flex justify-content-center">
							<h1>Note</h1>
						</div>
						<div class="col-12" th:if="${note != null} and ${availableToSee} ">
							<h3>Note: </h3> <span th:text="${note}"> </span>
								<div>
									<h5>Modifica Nota:</h5>
									<a th:href="@{/notes/ticket/editnote/{id} (id=${note.id}) }" class="btn btn-primary mb-2">Modifica</a>
									<form th:action="@{/notes/deletenote/{id} (id=${note.id})}" method="post" sec:authorize="hasAuthority('ADMIN')">
										<button class="btn btn-danger" type="submit"
											th:data-confirm-delete="|Sei sicuro di voler cancellare questa nota?|"
											onclick="if(!confirm(this.getAttribute('data-confirm-delete')))return false">Delete</button>
									</form> 
								</div>
						</div>
							<div class="col-12"	th:if="${note == null}">
								<h1>Hai cancellato la nota correttamente</h1>
							</div> 
							<div class="col-12" th:unless="${availableToSee}">
								<h1>Non puoi vedere questa nota</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	
	
	
	
	
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	
</body>
	
</html>